<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvent</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="notification is-primary global-notification">
        <p class="notice"><%= notice %></p>
      </div>      
    <% end %>
    <% if flash[:alert] %>
      <div class="notification is-danger global-notification">
        <p class="alert"><%= alert %></p>
      </div>      
    <% end %>

    <nav class="navbar has-background-black">
      <div class="navbar-brand">
        <div class="navbar-item">
          <%= link_to root_path do %>
            <h1 class="title is-3 has-text-white">Private</h1>
          <% end %>
        </div>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample" onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div class="navbar-menu">
        <div class="navbar-end">
          <% if user_signed_in? %>
          <div class="navbar-item">
            <%= link_to current_user.name , current_user, class: "button" %>
          </div>
          <div class="navbar-item">
            <%= link_to 'Edit User', edit_registration_path(current_user), class: "button" %>
          </div>
          <div class="navbar-item">
            <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: "button" %>
          </div>
        <% else %> 
          <div class="navbar-item">
            <%= link_to 'Sign In', new_user_session_path, class: "button" %>
          </div>
          <div class="navbar-item">
            <%= link_to 'Sign Up', new_user_registration_path, class: "button" %>
          </div>

        <% end %>
                
        </div>
      </div>
    </nav>


  
    <%= yield %>
  </body>
</html>
