<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvent</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="notification is-primary global-notification">
        <p class="notice"><%= notice %></p>
      </div>      
    <% end %>
    <% if flash[:alert] %>
      <div class="notification is-danger global-notification">
        <p class="alert"><%= alert %></p>
      </div>      
    <% end %>


	<div class="columns is-mobile is-marginless heading has-text-weight-bold has-background-dark">
		<div class="column-left">
      <div >
        <%= link_to root_path do %>
          <h1 class="title is-4 has-text-white">Private</h1>
        <% end %>
      </div>
		</div>
    <div class="column-right">
      <% if user_signed_in? %>
        <p >
          <%= link_to current_user.name , current_user, class: "button" %>
        </p>
        <p >
          <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: "button" %>
        </p>
      <% else %> 
        <p>
          <%= link_to 'Sign In', new_user_session_path, class: "button" %>
        </p>
      <% end %>
  </div>

</div>

  
    <%= yield %>
  </body>
</html>
